body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

section{
    width: 100%;
    max-width: 1230px;
    margin: auto;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

.row{
    padding: 0 30px;
    /* margin-bottom: 40px; */
}

form label{
    display: block;
    text-transform: uppercase;
}

form input, select{
    border: 1px solid #009cde;
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 15px;
}

input[type=checkbox]{
    width: auto;
    margin: 0 10px 0 0;
}

form .moto-info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

form .moto-info p{
    margin: 0;
}

form .moto-info p.title{
    font-weight: bold;
}

form button{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #009cde;
    border: 0;
    color: white;
    padding: 10px 60px;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 30px;
}

@media(min-width: 992px){
    form{
        padding: 0 0 120px;
    }

    form > div{
        display: flex;
        /* justify-content: space-between; */
        margin: 20px 0;
    }

    form input, select{
        margin-bottom: 15px;
    }

    form > .row:first-child > div{
        width: 306px;
        margin-right: 25px;
    }

    form > .row:nth-child(2) > div:first-child{
        width: 440px;
        margin-right: 25px;
    }

    form > .row:nth-child(3) > div{
        width: 440px;
        margin-right: 25px;
    }

    form > .row:nth-child(4) > div:last-child{
        display: flex;
        align-items: center;
        margin-left: 75px;
    }

    form button{
        width: auto;
    }
}

